{% extends 'officials/base.html' %}{% block title %}Homepage{% endblock %}
{% load crispy_forms_tags %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="description">
	<meta content="" name="keywords">
</head>
<body>
	{% block content %}
	<main id="main" class="main">
		<section class="section dashboard">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						{% include 'messages.html' %}						
						<div class="modal fade" id="modal-registration" tabindex="-1">
							<div class="modal-dialog modal-dialog-scrollable">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title"><i class="bi bi-person-check-fill" style="color: #13bb46; font-size: 25px;"></i> Electoral officer verification form</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										{% if request.user.officials.registered is True %}
										<div class="row mb-2">
											<div class="col-md-12 table-responsive text-center">
												<img src="{% static 'img/voters/thumbs-up.png' %}" alt="img" class="rounded-circle mb-2" style="border: 2px solid blueviolet" height="120px" width="120px">
												<h5>You are a registered electoral official</h5>
												<table class="table table-sm table-condensed table-bordered table-striped table-hover">
													<thead>
														<tr class="text-center table-success">
															<th>#</th>
															<th>Officer Details</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Name: </td><td class="text-center">{{ request.user.officials.officer|title }}</td>
														</tr>
														<tr>
															<td>Gender: </td><td class="text-center">{{ request.user.officials.gender }}</td>
														</tr>
														<tr>
															<td>School: </td><td class="text-center">{{ request.user.officials.school }}</td>
														</tr>
														<tr>
															<td>Officer Role: </td><td class="text-center">{{ request.user.officials.role }}</td>
														</tr>
														<tr>
															<td>Official Status: </td>
															<td class="text-center">
																{% if request.user.officials.is_official is True %}
																<span class="badge bg-primary p-2">
																	Registered <i class="bi-check-circle-fill" style="color: #13bb46;"></i>
																</span>
																{% else %}
																<span class="badge bg-primary">
																	Not registered <i class="bi-check-circle-fill" style="color: #f03040;"></i>
																</span>
																{% endif %}
															</td>
														</tr>
														
													</tbody>
												</table>
											</div>
										</div>
										{% endif %}
									</div>
									<div class="modal-footer">
										<p class="small text-center text-muted fw-bold">NB: Kindly verify that the details provided in this form are correct and valid.</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-xxl-4 col-md-6">
							<div class="card info-card aspirants-card">
								<div class="card-body">
									<h5 class="card-title">Aspirants | <span>{{ request.user.officials.school }}</span></h5>

									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="bi bi-trophy-fill"></i>
										</div>
										<div class="ps-3">
											<h6>{{ total_aspirants }}</h6>
											<span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xxl-4 col-md-6">
							<div class="card info-card reg-voters-card">

								<div class="card-body">
									<h5 class="card-title">Reg. Voters | <span>{{ request.user.officials.school }}</span></h5>
									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
										<i class="bi bi-clipboard-data"></i>
										</div>
										<div class="ps-3">
										<h6>{{ total_registered_voters }}</h6>
										<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

										</div>
									</div>
								</div>

							</div>
						</div>

						<div class="col-xxl-4 col-md-6">
							<div class="card info-card polls-card">

								<div class="card-body">
									<h5 class="card-title">Polls | <span>{{ request.user.officials.school }}</span></h5>
									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="bi bi-clipboard2-check-fill"></i>
										</div>
										<div class="ps-3">
											<h6>{{ users_who_have_polled }}</h6>
											<span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xxl-4 col-md-6">
							<div class="card info-card voted-card">

								<div class="card-body">
									<h5 class="card-title">Voted | <span>{{ request.user.officials.school }}</span></h5>
									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
										<i class="bi bi-archive-fill"></i>
										</div>
										<div class="ps-3">
										<h6>{{ users_who_have_voted }}</h6>
										<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

										</div>
									</div>
								</div>

							</div>
						</div>

						<div class="col-xxl-4 col-xl-12">
							<div class="card info-card officials-card">

								<div class="card-body">
									<h5 class="card-title">Electoral Officials| <span>{{ request.user.officials.school }}</span></h5>
									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="bi bi-people-fill"></i>
										</div>
										<div class="ps-3">
											<h6>{{ total_electoral_officers }}</h6>
											<span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="card">
								
								<div class="card-body">
									<h5 class="card-title">Registered Voters per school</h5>
									<div id="RegVotersChart"></div>
									<script type="text/javascript" src="{% static 'js/voters-page/voterslinechart.js' %}"></script>
									
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="card recent-sales overflow-auto">

								<div class="filter">
								<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
								<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
									<li class="dropdown-header text-start">
										<h6>Filter</h6>
									</li>
									<li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-polls">View all</a></li>
								</ul>
								</div>

								<div class="card-body">
									<h5 class="card-title"><i class="bi-people-fill"></i> Nominated aspirants | <span>{{request.user.officials.school}}</span></h5>
									<div class="table-responsive">
										<table class="table table-bordered table-condensed table-hover text-center">
											<thead>
												<tr>
													<th scope="col">Image</th>
													<th scope="col">Name</th>
													<th scope="col">Post</th>
													<th scope="col">Nominated</th>
												</tr>
											</thead>
											<tbody>
												{% for aspirants in nominated_aspirants %}
												<tr>
													<td><img src="{{ aspirants.pic.url }}" alt="image" class="rounded-circle" height="45px" width="45px"></td>
													<td class="fw-bold text-muted">{{ aspirants.name|title }}</td>
													<td>{{ aspirants.post }}</td>
													<td class="pt-1 px-5">{% if aspirants.nominate is True %}<i class="bi-check-circle-fill" style="color: #13bb46;"></i>{% else %}<i class="bi-x-circle-fill" style="color: #f03040"></i>{% endif %}</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="card top-selling overflow-auto">
								<div class="filter">
									<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li class="dropdown-header text-start">
											<h6>Filter</h6>
										</li>
										<li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#poll-results">View all</a></li>
									</ul>
								</div>

								<div class="card-body pb-0">
									<h5 class="card-title"><i class="bi-check-circle-fill" style="color: #13bb46;"></i> Electoral officials | <span>{{request.user.officials.school}}</span></h5>

									<table class="table table-bordered table-condensed table-hover text-center">
										<thead>
											<tr>
												<th scope="col">Image</th>
												<th scope="col">Name</th>
												<th scope="col">Gender</th>
												<th scope="col">School</th>
												<th scope="col">Role</th>
												<th scope="col">Registered</th>
											</tr>
										</thead>
										<tbody>
											{% for official in electoral_officials %}
											<tr>
												<td><img class="rounded-circle" height="47px" width="47px" src="{{official.profile_pic.url}}" alt="officer-dp"></td>
												<td class="text-muted fw-bold">{{ official.officer|title }}</td>
												<td>{{ official.gender }}</td>
												<td>{{ official.school }}</td>
												<td>{{ official.role }}</td>
												<td>{% if official.registered is True %} <i class="bi-check-circle-fill" style="color: #13bb46;"></i> {% else %} <i class="bi-x-circle-fill" style="color: #f03040;"></i>{% endif %}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>

							</div>
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="card">
						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li class="dropdown-header text-start">
								<h6>Filter</h6>
								</li>

								<li><a class="dropdown-item" href="#">Today</a></li>
								<li><a class="dropdown-item" href="#">This Month</a></li>
								<li><a class="dropdown-item" href="#">This Year</a></li>
							</ul>
						</div>

						<div class="card-body pb-2">
							<h5 class="card-title">Registered Voters</h5>
							<input type="hidden" id="males" value="{{male_registered_voters}}">
							<input type="hidden" id="females" value="{{female_registered_voters}}">
							<canvas id="votersChart" class="mb-3" style="max-height: 400px;"></canvas>
							<script type="text/javascript" src="{% static 'js/voters-page/votersdchart.js' %}"></script>
						</div>
					</div>

					<div class="card">
						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li class="dropdown-header text-start">
								<h6>Filter</h6>
								</li>

								<li><a class="dropdown-item" href="#">Today</a></li>
								<li><a class="dropdown-item" href="#">This Month</a></li>
								<li><a class="dropdown-item" href="#">This Year</a></li>
							</ul>
						</div>

						<div class="card-body pb-0">
							<h5 class="card-title"><i class="bi bi-newspaper"></i> News &amp; Updates <span>| Today</span></h5>

							<div class="modal fade" id="more-info-schedule" tabindex="-1">
								<div class="modal-dialog modal-dialog-scrollable">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title"><i class="bi bi-clock-fill" style="color: #13bb46; font-size: 18px;"></i> Elections Schedule</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<table class="table table-condensed table-striped table-hover table-bordered">
												<thead>
													<tr>
														<th>Date</th>
														<th>Activity</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td></td>
														<td></td>
													</tr>
													<tr>
														<td></td>
														<td></td>
													</tr>
													
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>

							<div class="modal fade" id="more-info-aspirants" tabindex="-1">
								<div class="modal-dialog modal-dialog-scrollable">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title"><i class="bi-check-circle-fill" style="color: #13bb46; font-size: 18px;"></i> Aspirants info.</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<div class="table-responsive">
												<table class="table table-condensed table-striped table-hover table-bordered">
													<thead>
														<tr class="table-info text-center">
															<th></th>
															<th>Males</th>
															<th>Rate</th>
															<th>Females</th>
															<th>Rate</th>
															<th class="table-dark">Total</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td class="fw-bold">Registered voters</td><td class="text-end">{{ male_registered_voters }}</td>
															<td class="text-end">rate</td>
															<td class="text-end">{{ female_registered_voters }}</td>
															<td class="text-end">rate</td>
															<td class="table-dark text-end">{{ total_registered_voters }}</td>
														<tr>
															<td class="fw-bold">Approved aspirants</td><td class="text-end">{{ male_aspirants }}</td>
															<td class="text-end"></td>
															<td class="text-end">{{ female_aspirants }}</td>
															<td class="text-end"></td>
															<td class="table-dark text-end">{{ approved_aspirants }}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="news">
								<div class="post-item clearfix">
									<img src="{% static 'static/img/news.png' %}" alt="">
									<h4><a href="#" data-bs-toggle="modal" data-bs-target="#more-info-schedule">Elections schedule</a></h4>
									<p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
								</div>

								
								<div class="post-item clearfix">
									<img src="{% static 'static/img/news.png' %}" alt="">
									<h4><a href="#" data-bs-toggle="modal" data-bs-target="#more-info-aspirants">Nominated Aspirants</a></h4>
									<p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
								</div>

							</div>

						</div>
					</div>

				</div>
			</div>
		</section>
	</main>
	{% endblock %}
</body>
</html>