{% extends 'officials/base.html' %}{% block title %}Nominate candidates{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main class="main" id="main">
        <section class="section">
            <div class="row">
                <div class="col-xl-12">
                    {% for aspirants in total_aspirants %}
                    <div class="modal fade" id="nomination-form-{{ aspirants.id }}" tabindex="-1">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="card-title"><i class="bi bi-hourglass-top"></i> Nomination Form</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row mb-2">
                                            <div class="col-md-8 col-lg-12">
                                                <div class="table-responsive">
                                                    <table class="table table-sm table-bordered table-condensed text-center">
                                                        <thead>
                                                            <tr class="table-success text-center">
                                                                <th>Image</th>
                                                                <th>Name</th>
                                                                <th>Electoral Post</th>
                                                                {% if aspirants.form.url is not None %}<th>Nominate</th>{% endif %}
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                           
                                                            <tr>
                                                                <td><img src="{{ aspirants.pic.url }}" alt="aspirant-pic" class="rounded-circle" height="45px" width="45px"></td>
                                                                <td>{{ aspirants.name }}</td>
                                                                <td>{{ aspirants.post }}</td>
                                                                {% if aspirants.form.url is not None %}<td><input type="radio" name="nominate" value="{{ aspirants.id }}" required></td>{% endif %}
                                                            </tr>
                                                           
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                        
                                        <div class="modal-footer mt-2">
                                            {% if aspirants.form.url is not None %}
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            {% else %}
                                                <p class="small fw-bold text-muted">Only candidates who have uploaded their nomination form can be nominated!</p>                                        
                                            {% endif %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="card card-body pt-1">
                        <h5 class="card-title">Nominate Aspirants | <span>{{request.user.officials.school}}</span></h5>
                        {% include 'messages.html' %}
                        <div class="table-responsive">
                            <table class="table condensed striped table-bordered hover">
                                <thead>
                                    <tr class="table-active text-center">
                                        <th>#</th>
                                        <th>Profile pic</th>
                                        <th>Name</th>
                                        <th>Post</th>
                                        <th>Nomination form</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for aspirants in total_aspirants %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td class="px-4"><img class="rounded-circle" src="{{ aspirants.pic.url }}" alt="aspirant-pic" height="45px" width="45px"></td>
                                        <td class="px-4"><a style="text-decoration: none;" href="" data-bs-toggle="modal" data-bs-target="#nomination-form-{{ aspirants.id }}">{{ aspirants.name }}</a></td>
                                        <td class="px-4">{{ aspirants.post  }}</td>
                                        <td class="text-center">
                                            {% if aspirants.form.url is not None %}
                                            <a href="{{ aspirants.form.url }}" class="btn btn-sm btn-secondary" target="_blank">Nomination form</a>
                                            {% else %} 
                                            <i class="bi-person-x-fill" style="color: #f03040; font-size: 30px;"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if aspirants.nominate is False %}
											<span class="badge bg-primary pb-2">
												Nomination pending ... <span class="spinner-border spinner-border-sm"></span>
											</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr><td colspan="6" class="text-center text-muted fw-bold">No aspirants available</td></tr>
                                    {% endfor %}
                                    <tr class="table-danger">
                                        <td colspan="6" class="text-center fw-bold fst-italic">
                                            Candidates with red icons have not uploaded their nomination forms.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                    
                        </div>
                        
                    </div>
                </div>
            </div>

        </section>
    </main>
    {% endblock %}
</body>
</html>