{% extends 'officials/base.html' %}{% block title %}Nominate candidates{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main class="main" id="main">
        <section class="section">
            
            <div class="col-xl-12">
                <div class="card card-body pt-3">
                    <table class="table condensed striped table-bordered hover">
                        <thead>
                            <tr class="table-active">
                                <th>#</th>
                                <th>Profile pic</th>
                                <th>Details</th>
                                <th>Nomination form</th>
                            </tr>
                        </thead>
                        <tbody>
    
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
    
                            </tr>
    
                            <tr><td colspan="4">No aspirants available</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>

    {% endblock %}
</body>
</html>