{% extends 'officials/base.html' %}{% block title %}Nominated aspirants{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main class="main" id="main">
        <section class="section">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card card-body pt-1">
                        <h5 class="card-title">Nominate Aspirants | <span>{{request.user.officials.school}}</span></h5>
                        {% include 'messages.html' %}
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-hover">
                                <thead>
                                    <tr class="table-active">
                                        <th>#</th>
                                        <th>Profile pic</th>
                                        <th>Name</th>
                                        <th>Post</th>
                                        <th>Status</th>
                                        <th>Nominated</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for aspirants in nominated_aspirants %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td class="px-4"><img class="rounded-circle" src="{{ aspirants.aspirant_name.pic.url }}" alt="aspirant-pic" height="45px" width="45px"></td>
                                        <td class="px-4">{{ aspirants.aspirant_name }}</td>
                                        <td class="px-4">{{ aspirants.aspirant_name.post }}</td>
                                        <td>
                                            {% if aspirants.aspirant_name.nominate is True %} <i class="bi-check-circle-fill" style="color: #13bb46;"></i> {% endif %}
                                        </td>
                                        <td>
                                            <table class="table table-condensed table-bordered table-striped">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-start">{{ aspirants.officer_name|title }}</td>
                                                        <td class="text-center pt-2">
                                                            {% if aspirants.has_nominated is True %}<i class="bi-check-circle-fill" style="color: #13bb46;"></i>{% endif %}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr><td colspan="6" class="text-center text-muted fw-bold">No aspirants available</td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>                    
                        </div>
                        
                    </div>
                </div>
            </div>

        </section>
    </main>
    {% endblock %}
</body>
</html>