{% extends 'voters/base.html' %}{% block title %}Homepage{% endblock %}
{% load crispy_forms_tags %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="description">
	<meta content="" name="keywords">
</head>
<body>
	{% block content %}
	<main id="main" class="main">
		<section class="section dashboard">
			<div class="row">
				<!-- Left side columns -->
				<div class="col-lg-8">
					<div class="row">

						<!-- Modal forms -->
						<div class="modal fade" id="modal-polls" tabindex="-1">
							<div class="modal-dialog modal-dialog-scrollable modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title"><i class="bi bi-hourglass-top"></i> Elections Polling Form</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<p class="small text-center fw-italic text-muted">NB: Results are subject to change</p><hr class="dropdown-divider">
										<form action="" method="post">
											{% csrf_token %}
											<div class="row mb-2">
												<div class="col-md-12 table-responsive">
													<table class="table table-sm table-condensed table-bordered table-striped table-hover">
														<thead>
															<tr>
																<th>Image</th>
																<th>Aspirants Profile</th>
																<th>Vote</th>
															</tr>
														</thead>
														<tbody>
															{% for aspirant in aspirants %}
															<tr>
																<td class="text-center">
																	<img src="{{aspirant.pic.url}}" alt="profile-photo" height="70px" width="70px">
																</td>
																<td>

																</td>
																<td>
																	<input type="radio" name="vote" value="{{aspirant.id}}" required>
																</td>
															</tr>
															{% endfor %}
														</tbody>
													</table>
												</div>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-success w-25"><i class="bi bi-box-arrow-in-down"></i> Vote</button>
									</div>
								</div>
							</div>
						</div>
			
						<div class="modal fade" id="modal-registration" tabindex="-1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Voter registration form</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<form action="" method="post">
											{% csrf_token %}
											<div class="row mb-2">
												<div class="col-md-12 table-responsive">
													<table class="table table-sm table-condensed table-bordered table-striped table-hover">
														<thead>
															<tr>
																<th>Image</th>
																<th>Aspirants Profile</th>
																<th>Vote</th>
															</tr>
														</thead>
														<tbody>
															{% for aspirant in aspirants %}
															<tr>
																<td class="text-center">
																	<img src="{{aspirant.pic.url}}" alt="profile-photo" height="70px" width="70px">
																</td>
																<td>

																</td>
																<td>
																	<input type="radio" name="vote" value="{{aspirant.id}}" required>
																</td>
															</tr>
															{% endfor %}
														</tbody>
													</table>
												</div>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<p class="small text-center text-muted fw-bold">NB: Kindly verify that the details provided in this form are correct and valid.</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="modal fade" id="modal-elections" tabindex="-1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Cast your vote</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">

									</div>
									<div class="modal-footer">
										<p class="small text-center text-muted fw-bold">NB: Voting cards will be displayed sequentially. Close the form after you have voted for the president.</p>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Sales Card -->
						<div class="col-xxl-4 col-md-6">
							<div class="card info-card sales-card">

								<div class="filter">
									<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li class="dropdown-header text-start">
										<h6>Filter</h6>
										</li>

										<li><a class="dropdown-item" href="#">Today</a></li>
										<li><a class="dropdown-item" href="#">This Month</a></li>
										<li><a class="dropdown-item" href="#">This Year</a></li>
									</ul>
								</div>

								<div class="card-body">
									<h5 class="card-title">Sales <span>| Today</span></h5>

									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
										<i class="bi bi-cart"></i>
										</div>
										<div class="ps-3">
										<h6>145</h6>
										<span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

										</div>
									</div>
								</div>
							</div>
						</div><!-- End Sales Card -->

						<!-- Revenue Card -->
						<div class="col-xxl-4 col-md-6">
							<div class="card info-card revenue-card">

								<div class="card-body">
									<h5 class="card-title">Pollers</h5>
									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
										<i class="bi bi-clipboard-data"></i>
										</div>
										<div class="ps-3">
										<h6>$3,264</h6>
										<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

										</div>
									</div>
								</div>

							</div>
						</div><!-- End Revenue Card -->

						<!-- Customers Card -->
						<div class="col-xxl-4 col-xl-12">
							<div class="card info-card customers-card">

								<div class="card-body">
									<h5 class="card-title">Registered Voters</h5>
									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="bi bi-people-fill"></i>
										</div>
										<div class="ps-3">
											<h6>1244</h6>
											<span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
										</div>
									</div>
								</div>
							</div>
						</div><!-- End Customers Card -->

						<!-- Reports -->
						<div class="col-12">
							<div class="card">
								
								<div class="card-body">
									<h5 class="card-title">Registered Voters per school</h5>
									<!-- Line Chart -->
									<div id="reportsChart"></div>

									<script>
										document.addEventListener("DOMContentLoaded", () => {
										new ApexCharts(document.querySelector("#reportsChart"), {
											series: [{
											name: 'Sales',
											data: [31, 40, 28, 51, 42, 82, 56],
											}, {
											name: 'Revenue',
											data: [11, 32, 45, 32, 34, 52, 41]
											}, {
											name: 'Customers',
											data: [15, 11, 32, 18, 9, 24, 11]
											}],
											chart: {
											height: 350,
											type: 'area',
											toolbar: {
												show: false
											},
											},
											markers: {
											size: 4
											},
											colors: ['#4154f1', '#2eca6a', '#ff771d'],
											fill: {
											type: "gradient",
											gradient: {
												shadeIntensity: 1,
												opacityFrom: 0.3,
												opacityTo: 0.4,
												stops: [0, 90, 100]
											}
											},
											dataLabels: {
											enabled: false
											},
											stroke: {
											curve: 'smooth',
											width: 2
											},
											xaxis: {
											type: 'datetime',
											categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
											},
											tooltip: {
											x: {
												format: 'dd/MM/yy HH:mm'
											},
											}
										}).render();
										});
									</script>
									<!-- End Line Chart -->
								</div>
							</div>
						</div><!-- End Reports -->

						<!-- Recent Sales -->
						<div class="col-12">
							<div class="card recent-sales overflow-auto">

								<div class="filter">
								<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
								<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
									<li class="dropdown-header text-start">
									<h6>Filter</h6>
									</li>

									<li><a class="dropdown-item" href="#">Today</a></li>
									<li><a class="dropdown-item" href="#">This Month</a></li>
									<li><a class="dropdown-item" href="#">This Year</a></li>
								</ul>
								</div>

								<div class="card-body">
									<h5 class="card-title"><i class="bi bi-pie-chart-fill"></i> Recent Sales <span>| Today</span></h5>

									<table class="table table-borderless datatable">
										<thead>
											<tr>
												<th scope="col">#</th>
												<th scope="col">Customer</th>
												<th scope="col">Product</th>
												<th scope="col">Price</th>
												<th scope="col">Status</th>
											</tr>
										</thead>
										<tbody>

											<tr>
												<th scope="row"><a href="#">#2457</a></th>
												<td>Brandon Jacob</td>
												<td><a href="#" class="text-primary">At praesentium minu</a></td>
												<td>$64</td>
												<td><span class="badge bg-success">Approved</span></td>
											</tr>
										
										</tbody>
									</table>
								</div>

							</div>
						</div><!-- End Recent Sales -->

						<!-- Top Selling -->
						<div class="col-12">
							<div class="card top-selling overflow-auto">
								<div class="filter">
									<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li class="dropdown-header text-start">
										<h6>Filter</h6>
										</li>

										<li><a class="dropdown-item" href="#">Today</a></li>
										<li><a class="dropdown-item" href="#">This Month</a></li>
										<li><a class="dropdown-item" href="#">This Year</a></li>
									</ul>
								</div>

								<div class="card-body pb-0">
									<h5 class="card-title"><i class="bi bi-trophy-fill"></i>  Leaderboard <span>| Today</span></h5>

									<table class="table table-borderless">
										<thead>
											<tr>
												<th scope="col">Preview</th>
												<th scope="col">Product</th>
												<th scope="col">Price</th>
												<th scope="col">Sold</th>
												<th scope="col">Revenue</th>
											</tr>
										</thead>
										<tbody>

											<tr>
												<th scope="row"><a href="#"><img src="assets/img/product-1.jpg" alt=""></a></th>
												<td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
												<td>$64</td>
												<td class="fw-bold">124</td>
												<td>$5,828</td>
											</tr>
										
										</tbody>
									</table>
								</div>

							</div>
						</div><!-- End Top Selling -->

					</div>
				</div><!-- End Left side columns -->

				<!-- Right side columns -->
				<div class="col-lg-4">
					<!-- Recent Activity -->
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"><i class="bi bi-compass-fill"></i> Who is who?</h5>

							<div class="activity">

								<div class="activity-item d-flex">
									<div class="activity-label">32 min</div>
									<!-- <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i> -->
									<img src="{% static 'voters-page/img/news-1.jpg' %}" class="rounded-circle activity-badge align-self-start" height="50px" width="50px" alt="">
									<div class="activity-content">
										<a href="#" class="fw-bold text-dark">Quia quae rerum explicabo officiis beatae</a>
									</div>
								</div><!-- End activity item-->

							</div>

						</div>
					</div><!-- End Recent Activity -->

					<!-- Budget Report -->
					<div class="card">
						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li class="dropdown-header text-start">
								<h6>Filter</h6>
								</li>

								<li><a class="dropdown-item" href="#">Today</a></li>
								<li><a class="dropdown-item" href="#">This Month</a></li>
								<li><a class="dropdown-item" href="#">This Year</a></li>
							</ul>
						</div>

						<div class="card-body pb-0">
							<h5 class="card-title">Budget Report <span>| This Month</span></h5>

							<div id="budgetChart" style="min-height: 400px;" class="echart"></div>

							<script>
								document.addEventListener("DOMContentLoaded", () => {
								var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
									legend: {
									data: ['Allocated Budget', 'Actual Spending']
									},
									radar: {
									shape: 'circle',
									indicator: [{
										name: 'Sales',
										max: 6500
										},
										{
										name: 'Administration',
										max: 16000
										},
										{
										name: 'Information Technology',
										max: 30000
										},
										{
										name: 'Customer Support',
										max: 38000
										},
										{
										name: 'Development',
										max: 52000
										},
										{
										name: 'Marketing',
										max: 25000
										}
									]
									},
									series: [{
									name: 'Budget vs spending',
									type: 'radar',
									data: [{
										value: [4200, 3000, 20000, 35000, 50000, 18000],
										name: 'Allocated Budget'
										},
										{
										value: [5000, 14000, 28000, 26000, 42000, 21000],
										name: 'Actual Spending'
										}
									]
									}]
								});
								});
							</script>

						</div>
					</div><!-- End Budget Report -->

					<!-- Website Traffic -->
					<div class="card">
						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li class="dropdown-header text-start">
								<h6>Filter</h6>
								</li>

								<li><a class="dropdown-item" href="#">Today</a></li>
								<li><a class="dropdown-item" href="#">This Month</a></li>
								<li><a class="dropdown-item" href="#">This Year</a></li>
							</ul>
						</div>

						<div class="card-body pb-0">
							<h5 class="card-title">Registered Voters</h5>
							<div id="trafficChart" style="min-height: 400px;" class="echart"></div>
							<script>
								document.addEventListener("DOMContentLoaded", () => {
								echarts.init(document.querySelector("#trafficChart")).setOption({
									tooltip: {
									trigger: 'item'
									},
									legend: {
									top: '5%',
									left: 'center'
									},
									series: [{
									name: 'Access From',
									type: 'pie',
									radius: ['40%', '70%'],
									avoidLabelOverlap: false,
									label: {
										show: false,
										position: 'center'
									},
									emphasis: {
										label: {
										show: true,
										fontSize: '18',
										fontWeight: 'bold'
										}
									},
									labelLine: {
										show: true
									},
									data: [{
										value: 2048,
										name: 'Males'
										},
										{
										value: 884,
										name: 'Females'
										},
									]
									}]
								});
								});
							</script>
						</div>
					</div><!-- End Website Traffic -->

					<!-- News & Updates Traffic -->
					<div class="card">
						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li class="dropdown-header text-start">
								<h6>Filter</h6>
								</li>

								<li><a class="dropdown-item" href="#">Today</a></li>
								<li><a class="dropdown-item" href="#">This Month</a></li>
								<li><a class="dropdown-item" href="#">This Year</a></li>
							</ul>
						</div>

						<div class="card-body pb-0">
							<h5 class="card-title"><i class="bi bi-newspaper"></i> News &amp; Updates <span>| Today</span></h5>

							<div class="news">
								<div class="post-item clearfix">
									<img src="{% static 'voters-page/img/news-1.jpg' %}" alt="">
									<h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
									<p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
								</div>

								
								<div class="post-item clearfix">
									<img src="{% static 'voters-page/img/news-3.jpg' %}" alt="">
									<h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
									<p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
								</div>

							</div><!-- End sidebar recent posts-->

						</div>
					</div><!-- End News & Updates -->

				</div><!-- End Right side columns -->
			</div>
		</section>
	</main>
	{% endblock %}
</body>
</html>