{% extends 'voters/base.html' %}{% block title %}Homepage{% endblock %}
{% load crispy_forms_tags %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="description">
	<meta content="" name="keywords">
</head>
<body>
	{% block content %}
	<main id="main" class="main">
		<section class="section dashboard">
			<div class="row">
				<div class="col-lg-8">
					<div class="row">
						{% include 'messages.html' %}
						<!-- Modal forms -->
						<div class="modal fade" id="modal-polls" tabindex="-1">
							<div class="modal-dialog modal-dialog-scrollable modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title"><i class="bi bi-hourglass-top"></i> Elections Polling Form</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<p class="small text-center fw-italic text-muted">NB: Results are subject to change</p><hr class="dropdown-divider">
										<div class="row mb-2">
											<div class="col-md-12 table-responsive">
												<table class="table table-sm table-condensed table-bordered table-striped table-hover">
													<thead>
														<tr>
															<th>Image</th>
															<th>Aspirants Details</th>
															<th>Total polls</th>
															<th><b>&percnt;</b></th>
														</tr>
													</thead>
													<tbody>
														{% for aspirant in polls %}
														<tr>
															<td class="text-center">
																<img src="{{aspirant.name.pic.url}}" class="rounded-circle" alt="profile-photo" height="70px" width="70px">
															</td>
															<td class="text-start">
																<h6>Name: <b>{{ aspirant.name|title }}</b></h6>
																<h6>Post: <b>{{ aspirant.post }}</b></h6>
																<h6>Slogan: <b>{{ aspirant.name.slogan|default:" -- " }}</b></h6>
															</td>
															<td>{{ aspirant.total_polls }}</td>
															<td>{{ aspirant.percentage }}</td>
														</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<p class="fw-bold text-start">Results are subject to change</p>
									</div>
								</div>
							</div>
						</div>
			
						<div class="modal fade" id="modal-registration" tabindex="-1">
							<div class="modal-dialog modal-dialog-scrollable">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title"><i class="bi bi-check-circle-fill" style="color: #13bb46"></i> Voter verification form</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										{% if request.user.voters.registered is True %}
										<div class="row mb-2">
											<div class="col-md-12 table-responsive text-center">
												<img src="{% static 'voters-page/img/thumbs-up.png' %}" alt="img" class="rounded-circle mb-2" style="border: 2px solid blueviolet" height="120px" width="120px">
												<h5>You are a registered voter</h5>
												<table class="table table-sm table-condensed table-bordered table-striped table-hover">
													<thead>
														<tr class="text-center table-success">
															<th>#</th>
															<th>Voters Details</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>Name: </td><td class="text-center">{{ request.user.voters.voter|title }}</td>
														</tr>
														<tr>
															<td>Gender: </td><td class="text-center">{{ request.user.voters.gender }}</td>
														</tr>
														<tr>
															<td>School: </td><td class="text-center">{{ request.user.voters.school }}</td>
														</tr>
														<tr>
															<td>Registration No.: </td><td class="text-center">{{ request.user.voters.reg_no }}</td>
														</tr>
														<tr>
															<td>Year: </td><td class="text-center">{{ request.user.voters.year }}</td>
														</tr>
														
													</tbody>
												</table>
											</div>
										</div>
										{% endif %}
									</div>
									<div class="modal-footer">
										<p class="small text-center text-muted fw-bold">NB: Kindly verify that the details provided in this form are correct and valid.</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="modal fade" id="vie-post" tabindex="-1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title"><i class="bi bi-"></i> Nomination Application Form</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<form action="" method="post" enctype="multipart/form-data">
											{% csrf_token %}
											{% if request.user.voters.aspirants.name != "" %}
											{{upload_NominationForm|crispy}}											
											{% else %}
											{{contestant_form|crispy}}
											{% endif %}
											<div class="modal-footer mt-2">
													<button type="submit" class="btn btn-primary">Submit</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>

						<div class="modal fade" id="blog" tabindex="-1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title"><img src="{{request.user.voters.aspirants.pic.url}}" alt="img" class="rounded-circle" height="40px" width="40px"> Blog form</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<form action="" method="post">
											{% csrf_token %}
											{{blog_form|crispy}}
											<div class="modal-footer mt-1">
												<button type="submit" class="btn btn-success"><i class="bi bi-telegram"></i> Send</button>
												<p class="small text-muted fw-bold">
													What are your plans for you supporters today? &centerdot; What is your advise to your suppoters?
												</p>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						

						<div class="modal fade" id="modal-elections" tabindex="-1">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Cast your vote</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">

									</div>
									<div class="modal-footer">
										<p class="small text-center text-muted fw-bold">NB: Voting cards will be displayed sequentially. Close the form after you have voted for the president.</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-xxl-4 col-md-6">
							<div class="card info-card aspirants-card">
								<div class="card-body">
									<h5 class="card-title">Aspirants | <span>{{ request.user.voters.school }}</span></h5>

									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="bi bi-trophy-fill"></i>
										</div>
										<div class="ps-3">
											<h6>{{ total_aspirants }}</h6>
											<span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xxl-4 col-md-6">
							<div class="card info-card pollers-card">

								<div class="card-body">
									<h5 class="card-title">Pollers | <span>{{ request.user.voters.school }}</span></h5>
									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
										<i class="bi bi-clipboard-data"></i>
										</div>
										<div class="ps-3">
										<h6>{{ polled }}</h6>
										<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

										</div>
									</div>
								</div>

							</div>
						</div>

						<div class="col-xxl-4 col-xl-12">
							<div class="card info-card reg-voters-card">

								<div class="card-body">
									<h5 class="card-title">Registered Voters | <span>{{ request.user.voters.school }}</span></h5>
									<div class="d-flex align-items-center">
										<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
											<i class="bi bi-people-fill"></i>
										</div>
										<div class="ps-3">
											<h6>{{ total_reg_voters }}</h6>
											<span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="card">
								
								<div class="card-body">
									<h5 class="card-title">Registered Voters per school</h5>
									<div id="reportsChart"></div>

									<script>
										document.addEventListener("DOMContentLoaded", () => {
										new ApexCharts(document.querySelector("#reportsChart"), {
											series: [{
											name: 'Sales',
											data: [31, 40, 28, 51, 42, 82, 56],
											}, {
											name: 'Revenue',
											data: [11, 32, 45, 32, 34, 52, 41]
											}, {
											name: 'Customers',
											data: [15, 11, 32, 18, 9, 24, 11]
											}],
											chart: {
											height: 350,
											type: 'area',
											toolbar: {
												show: false
											},
											},
											markers: {
											size: 4
											},
											colors: ['#4154f1', '#2eca6a', '#ff771d'],
											fill: {
											type: "gradient",
											gradient: {
												shadeIntensity: 1,
												opacityFrom: 0.3,
												opacityTo: 0.4,
												stops: [0, 90, 100]
											}
											},
											dataLabels: {
											enabled: false
											},
											stroke: {
											curve: 'smooth',
											width: 2
											},
											xaxis: {
											type: 'datetime',
											categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
											},
											tooltip: {
											x: {
												format: 'dd/MM/yy HH:mm'
											},
											}
										}).render();
										});
									</script>
									
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="card recent-sales overflow-auto">

								<div class="filter">
								<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
								<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
									<li class="dropdown-header text-start">
										<h6>Filter</h6>
									</li>
									<li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-polls">View all</a></li>
								</ul>
								</div>

								<div class="card-body">
									<h5 class="card-title"><i class="bi bi-pie-chart-fill"></i> Polls ranking</h5>
									<div class="table-responsive">
										<table class="table table-bordered table-condensed">
											<thead>
												<tr>
													<th scope="col">Image</th>
													<th scope="col">Name</th>
													<th scope="col">Post</th>
													<th scope="col">Total</th>
													<th scope="col">&percnt;</th>
												</tr>
											</thead>
											<tbody>
												{% for aspirant in polls %}
												<tr>
													<td><img src="{{ aspirant.name.pic.url }}" alt="image" class="rounded-circle" height="45px" width="45px"></td>
													<td>{{ aspirant.name|title }}</td>
													<td>{{ aspirant.post }}</td>
													<td>{{ aspirant.total_polls }}</td>
													<td>{{ aspirant.percentage }}</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="card top-selling overflow-auto">
								<div class="filter">
									<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
									<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
										<li class="dropdown-header text-start">
											<h6>Filter</h6>
										</li>
										<li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#poll-results">View all</a></li>
									</ul>
								</div>

								<div class="card-body pb-0">
									<h5 class="card-title"><i class="bi bi-trophy-fill"></i> Leaderboard</h5>

									<table class="table table-borderless">
										<thead>
											<tr>
												<th scope="col">Image</th>
												<th scope="col">Name</th>
												<th scope="col">Gender</th>
												<th scope="col">Post</th>
												<th scope="col">Total Votes</th>
											</tr>
										</thead>
										<tbody>
											{% for aspirant in winners %}
											<tr>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>

							</div>
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"><i class="bi bi-compass-fill"></i> Who is who?</h5>

							<div class="activity">
								{% if blogs %}
								{% for blog in blogs %}
								<div class="activity-item d-flex">
									<div class="activity-label">{{ blog.written|timesince|slice:":4" }}</div>
									<img src="{{ blog.blogger.pic.url }}" class="rounded-circle activity-badge align-self-start" height="50px" width="50px" alt="">
									<div class="activity-content">
										<a href="{% url 'voters_homepage' %}" class="fw-bold text-dark" data-bs-toggle="modal" data-bs-target="#all-blogs">
											{{ blog.message|truncatewords:5 }}
										</a>
									</div>
								</div>
								{% endfor %}
								{% endif %}
								<hr class="dropdown-divider">
								<a href="{% url 'voters_homepage' %}" data-bs-toggle="modal" data-bs-target="#all-blogs" class="read-more">View more</a>
							</div>

						</div>
					</div>

					<div class="card">
						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li class="dropdown-header text-start">
								<h6>Filter</h6>
								</li>

								<li><a class="dropdown-item" href="#">Today</a></li>
								<li><a class="dropdown-item" href="#">This Month</a></li>
								<li><a class="dropdown-item" href="#">This Year</a></li>
							</ul>
						</div>

						<div class="card-body pb-0">
							<h5 class="card-title">Budget Report <span>| This Month</span></h5>

							<div id="budgetChart" style="min-height: 400px;" class="echart"></div>

							<script>
								document.addEventListener("DOMContentLoaded", () => {
								var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
									legend: {
									data: ['Allocated Budget', 'Actual Spending']
									},
									radar: {
									shape: 'circle',
									indicator: [{
										name: 'Sales',
										max: 6500
										},
										{
										name: 'Administration',
										max: 16000
										},
										{
										name: 'Information Technology',
										max: 30000
										},
										{
										name: 'Customer Support',
										max: 38000
										},
										{
										name: 'Development',
										max: 52000
										},
										{
										name: 'Marketing',
										max: 25000
										}
									]
									},
									series: [{
									name: 'Budget vs spending',
									type: 'radar',
									data: [{
										value: [4200, 3000, 20000, 35000, 50000, 18000],
										name: 'Allocated Budget'
										},
										{
										value: [5000, 14000, 28000, 26000, 42000, 21000],
										name: 'Actual Spending'
										}
									]
									}]
								});
								});
							</script>

						</div>
					</div>

					<div class="card">
						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li class="dropdown-header text-start">
								<h6>Filter</h6>
								</li>

								<li><a class="dropdown-item" href="#">Today</a></li>
								<li><a class="dropdown-item" href="#">This Month</a></li>
								<li><a class="dropdown-item" href="#">This Year</a></li>
							</ul>
						</div>

						<div class="card-body pb-2">
							<h5 class="card-title">Registered Voters</h5>
							<canvas id="votersChart" class="mb-3" style="max-height: 400px;"></canvas>
							<script>
								document.addEventListener("DOMContentLoaded", () => {
								new Chart(document.querySelector('#votersChart'), {
									type: 'doughnut',
									data: {
									labels: [
										{% for voters in reg_voters %} "{{ voters.gender}}(s)", {% endfor %}
									],
									datasets: [{
										label: 'My First Dataset',
										data: [
											{% for voters in reg_voters %}, {{reg_males}}, {{reg_females}} {% endfor %}
										],
										backgroundColor: [
										'rgb(255, 99, 132)',
										'rgb(54, 162, 235)',
										'rgb(255, 205, 86)'
										],
										hoverOffset: 4
									}]
									}
								});
								});
							</script>
						</div>
					</div>

					<div class="card">
						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
								<li class="dropdown-header text-start">
								<h6>Filter</h6>
								</li>

								<li><a class="dropdown-item" href="#">Today</a></li>
								<li><a class="dropdown-item" href="#">This Month</a></li>
								<li><a class="dropdown-item" href="#">This Year</a></li>
							</ul>
						</div>

						<div class="card-body pb-0">
							<h5 class="card-title"><i class="bi bi-newspaper"></i> News &amp; Updates <span>| Today</span></h5>

							<div class="news">
								<div class="post-item clearfix">
									<img src="{% static 'voters-page/img/news-1.jpg' %}" alt="">
									<h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
									<p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
								</div>

								
								<div class="post-item clearfix">
									<img src="{% static 'voters-page/img/news-3.jpg' %}" alt="">
									<h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
									<p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
								</div>

							</div>

						</div>
					</div>

				</div>
			</div>
		</section>
	</main>
	{% endblock %}
</body>
</html>